@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.graph-node {
    border: 2px solid gray;
    border-radius: 15px; }
.graph-node .graph-node-title {
    font-family: 'Lato';
    font-weight: 600;
    color: white;
    font-size: small;
    text-align: center;
    /*background-color: cornflowerblue;*/
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 5px; }
.graph-node .graph-node-title .graph-node-title-icon {
    padding-left: 5px;
    padding-right: 10px; }
.graph-node .graph-node-title .graph-node-title-text {
    padding-right: 10px; }
.graph-node .graph-node-body {
    font-family: 'Lato';
    font-weight: 300;
    background-color: snow;
    padding: 13px; }
.graph-node .graph-node-footer {
    font-family: 'Lato';
    font-weight: 600;
    color: white;
    font-size: small;
    text-align: center;
    background-color: green;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 5px; }

.progress {
    margin-bottom: 10px; }
