.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
    font-weight: lighter;
}
.form-control :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #909;
    opacity:  1;
    font-weight: lighter;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #909;
    opacity:  1;
    font-weight: lighter;
}
.form-control :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #909;
    font-weight: lighter;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:    #909;
    font-weight: lighter;
}

.form-control::placeholder { /* Most modern browsers support this now. */
    color:    #909;
    font-weight: lighter;
}

.form-control {
    font-weight: bolder !important
}