/* https://www.color-hex.com/color/6495ed */
.creator, .producer {
    background-color: #edbc64;

}
.expander, .contractor {
    background-color: #ed6495;

}
.union, .intersection {
    background-color: #6495ed;

}