/* https://www.color-hex.com/color/6495ed */
.creator, .producer {
    background-color: #ed9363;
}

.creator.selected, .producer.selected {
    background-color: #EDAA63;
}

.expander, .contractor {
    background-color: #ed6495;
}

.expander.selected, .contractor.selected {
    background-color: #ED7864;
}

.union, .intersection {
    background-color: #6495ed;
}

.union.selected, .intersection.selected {
    background-color: #64D9ED;
}

