.rt-td {
    padding: 0 5px 0 5px !important;
}

[class *= MuiPaper-root] {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

[class *= MuiPaper-rounded] {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

