.rt-td {
    padding: 0 5px 0 5px !important;
}

[class *= MUIDataTable-responsiveScrollMaxHeight] {
    /*max-height: 85% !important;*/
}

[class *= MUIDataTable-paper] {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    /*max-height: 60% !important;*/
}